{% for post in postagens %}
<div class="media text-muted pt-3">    
    <div class="row">
        <div class="col-md-12">
            <a href="index.php?page=post&id={{post.id}}"><h4>{{post.titulo}}</h4></a>
            
            <p>
                {{post.conteudo}}
            </p>
        </div>
        <div class="col-md-12">
            <p class="media-body pb-3 mb-0 small lh-125 border-top mt-1 mb-1 border-gray">
                <strong class="d-block text-gray-dark">@username</strong>
                {{postagem.conteudo}}
            </p>
        </div>
    </div>

    
</div>
{% endfor %}